@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.places_main_container{
    width: 300px;
    height: 600px;
    background-image: url(https://ik.imagekit.io/fawaz04/MERN%2023/taj-mahal?updatedAt=1780753614282);
    background-size: contain;
    background-repeat: no-repeat;
}